<h3>
  persons works!
</h3>

<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered table-striped">
      <thead class="font-weight-bold">
        <td>Id</td>
        <td>Name</td>
        <td>Age</td>
      </thead>
      <tbody>
        <tr *ngFor="let person of persons">
          <td>{{person.id}}</td>
          <td>{{person.name}}</td>
          <td>{{person.age}}</td>
          <td><a [routerLink]="[person.id]">Details</a></td>
          <td><button><a [routerLink]="[person.id, 'edit']">Edit</a></button></td>
          <td><button (click)=deleteOne(person.id)>Delete</button></td>
        </tr>
      </tbody>
    </table>

    <button (click)="addNewPerson()">Add new Djoka</button>    
    <button (click)="getAll()">Get all Person</button>
    <button><a [routerLink]="['new']">New Person</a></button>
  </div>

  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>