<h3>
  persons works!
</h3>

<div class="row">
  <div class="col-md-6">
    <table>
      <thead>
        <td>Id</td>
        <td>Name</td>
        <td>Age</td>
      </thead>
      <tbody>
        <tr *ngFor="let person of persons">
          <td>{{person.id}}</td>
          <td>{{person.name}}</td>
          <td>{{person.age}}</td>
          <td><button (click)=getOne(person.id)>Get</button></td>
          <td><button (click)=deleteOne(person.id)>Delete</button></td>
        </tr>
      </tbody>
    </table>

    <button (click)="addNewPerson()">Add new Person</button>
    <button (click)="getAll()">Get all Person</button>
  </div>

  <div class="col-md-6">
    <h4 *ngIf="selectedPerson">{{selectedPerson.name}} ima {{selectedPerson.age}} godina.</h4>
  </div>
</div>